.langbox a,
.langbox span {
    text-transform: uppercase;
}
.ajax-loader {
    float: left;
}
.mainmenu li.current-menu-item,
.mainmenu li.current-menu-item a {
    color: #fbcf6e !important;
}
/*
.mainmenu li.menu-item-type-custom.current-menu-item,
.mainmenu li.menu-item-type-custom.current-menu-item a {
    color: #fff !important;
}
*/
.pj-page__header {
    background-position: top center !important;
}

.langbox a.active {
    cursor: default !important;
}